<div class="input-container" [class.focused]="control.dirty || control.touched">
    <label for="controlName">{{ label() }}</label>
    <input id="controlName" [class.is-invalid]="(control.touched || control.dirty) && control.invalid" [class.is-valid]="isValid()" [type]="type()" [formControl]="control"
        [placeholder]="placeholder()" class="form-input">
    <div class="validation-container" [style.min-height.px]="showValidationMessages() ? 25 : 0">
        @if(control.hasError('required') && control.touched){
            <div class="validation-message">Vul een {{label() | lowercase}} in
            </div>
        }
        @else if (control.hasError('usernameTaken')) {
            <div class="validation-message">De ingevoerde gebruikersnaam is al in gebruik
            </div>
            
        }
        @else if (control.hasError('minlength')) {
        <div class="validation-message">Een {{label() | lowercase}} moet minimaal {{control.errors?.['minlength'].requiredLength}} tekens bevatten
            </div>
        }@else if (control.hasError('requireCapitalLetter') && control.dirty){
            <div class="validation-message">Een {{label() | lowercase}} moet een hoofdletter bevatten</div>
        }@else if (control.hasError('requireNumber') && control.dirty){
            <div class="validation-message">Een {{label() | lowercase}} moet een getal bevatten</div>
        }@else if (control.hasError('requireNonAlphanumeric') && control.dirty){
            <div class="validation-message">Een {{label() | lowercase}} moet een speciaal teken bevatten</div>
        }
        @else if (control.hasError('isMatching')){
        <div class="validation-message">Passwords do not match</div>
        }
    </div>


</div>