
  
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    margin: 5% auto;
    background-color: var(--color-white);
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 80%;
    text-align: center;
  }

  .modal-header-container{
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .modal-header {
    text-align: left;
    
  }

  .svg-icon{
    display: block;
    margin: 0 auto;
  }


  .close {
    color: var(--color-error);
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: -1.5rem;
    right: -0.5rem;
    cursor: pointer;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
  }
  
  .drop-zone p {
    margin: 0;
    font-size: 16px;
    color: #aaa;
  }
  
  .file-input {
    display: none;
  }
  
  .dragover {
    border-color: #000;
  }

  .submit-form-container {
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    margin-bottom: 10px;
  }
  
  .form-container input {
    padding: 5px;
    font-size: 16px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .uploaded-image {
    max-width: 100%;
    max-height: 300px;
  }
  
  .button-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
  
  .btn {
    width: 30vw;
    height: 60px;
    font-size: 24px;
  }
  
  ::ng-deep .mdc-line-ripple::after {
    border-bottom-color: var(--color-light-green) !important;
  }
  ::ng-deep .mdc-line-ripple::before {
    display: none;
  }
  
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: var(--color-light-green) !important;
    text-align: center !important;
    color: var(--color-white) !important;
    font-size: 2rem !important;
}
::ng-deep .mdc-floating-label {
    color: var(--color-gray) !important;
    margin: 0 auto !important;
  }

  button:disabled {
    background-color: var(--color-gray);
    cursor: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' aria-labelledby='notAllowedIconTitle' stroke='%23FF8080' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none' color='%23FF8080'%3E%3Ccircle cx='16' cy='16' r='14' fill='d8dad3'/%3E%3Ccircle cx='16' cy='16' r='12' stroke='%23FF8080' fill='none'/%3E%3Cpath stroke-linecap='square' d='m8 8 16 16' stroke='%23FF8080'/%3E%3C/svg%3E"), not-allowed;
    color: #a9a9a9;
}
