:host {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    padding: 20px;
}

.how-it-works {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
}

.how-it-works h2 {
    font-size: 4rem;
}

.how-it-works h3 {
    font-size: 3rem;
    
}

.how-it-works p {
    padding: 10px;
    text-align: center;    
}

.steps-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.step {
    width: 25%; 
    margin: 5rem 0; 
    text-align: center;
}

.svg-icon {
    display: block;
    margin: 0 auto 20px auto; 
    max-width: 200px;
    height: auto;
}

.step:nth-child(3) .svg-icon {
    display: block;
    padding-right: 1.7rem;
}

.step:nth-child(4) .svg-icon {
    padding-top: 1.5rem;
    display: block;
}

@media (max-width: 1000px) {
    .step {
        width: 50%;
    }
}