:host {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    padding: 20px;
}

.how-it-works {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
}

.how-it-works h2 {
    font-size: 2.7rem;
    margin-bottom: 0;
}

.how-it-works h3 {
    font-size: 2rem;
}


.steps-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.step {
    width: 25%; 
    margin: 5rem 0; 
    text-align: center;
}

.step p {
    font-weight: 500;
    padding: 10px;
    font-size: 1rem;
    text-align: center;   
}

.svg-icon {
    display: block;
    margin: 0 auto 20px auto; 
    width: auto;
    height: 200px;
}

.step:nth-child(3) .svg-icon {
    display: block;
    padding-right: 1.7rem;
}

.step:nth-child(4) .svg-icon {

    transform: translateY(12px);
}


@media (max-width: 1300px) {
    .step {
        width: 50%;
    }
}


@media (max-width: 760px) {
    .step {
        width: 100%;
    }
}