<div class="dialog-container">
    <div class="image-container">
        <img src="../../../assets/register-image.jpg" alt="Sign Up Image" class="sign-up-image">
    </div>
    <div class="form-container">
        <div mat-dialog-content>
            <form class="form" [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="username">
                <h1 mat-dialog-title class="sign-up-title">We kunnen bijna beginnen</h1>
                
                <mat-form-field class="full-width field-spacing">
                    <mat-label>Gebruikersnaam</mat-label>
                    <input matInput formControlName="username" autocomplete="off" (focus)="onFocus('username')">
                    @if(registerForm.controls['username'].hasError('required')){
                        <mat-error>Gerbuikersnaam is verplicht</mat-error>
                    }@else if(registerForm.controls['username'].hasError('usernameTaken')){
                        <mat-error>Gerbuikersnaam is al in gebruik</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="full-width field-spacing">
                    <mat-label>Wachtwoord</mat-label>
                    <input matInput [type]="'password'" formControlName="password" autocomplete="new-password" (focus)="onFocus('password')">
                    @if(registerForm.controls['password'].hasError('required')){
                        <mat-error>Wachtwoord is verplicht</mat-error>
                    }
                    @else if (registerForm.controls['password'].hasError('minlength')) {
                        <mat-error>Wachtwoord moet minimaal 6 karakters lang zijn</mat-error>
                    }
                    @else if (registerForm.controls['password'].hasError('requireCapitalLetter')) {
                        <mat-error>Wachtwoord moet minimaal 1 hoofdletter bevatten</mat-error>
                    }
                    @else if (registerForm.controls['password'].hasError('requireNumber')) {
                        <mat-error>Wachtwoord moet minimaal 1 getal bevatten</mat-error>
                    }
                    @else if (registerForm.controls['password'].hasError('requireNonAlphanumeric')) {
                        <mat-error>Wachtwoord moet minimaal 1 speciaal teken bevatten</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="full-width field-spacing">
                    <mat-label>Wachtwoord</mat-label>
                    <input matInput [type]="'password'" formControlName="confirmPassword" autocomplete="new-password" (focus)="onFocus('confirmPassword')">
                    @if(registerForm.controls['confirmPassword'].hasError('required')){
                        <mat-error>Wachtwoord moet herhaald worden</mat-error>
                    }@else if(registerForm.controls['confirmPassword'].hasError('isMatching')){
                        <mat-error>Wachtwoorden komen niet overeen</mat-error>
                    }
                </mat-form-field>

                <div class="form-group">
                    <button class="btn btn-primary" [disabled]="!registerForm.valid" type="submit">Join het Frame</button>
                </div>
            </form>
        </div>
    </div>
</div>