

.sign-up-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 0.5rem;
    font-family: "Sans";
}

.mat-dialog-container {
    display: flex;
    flex-direction: column;
}


.dialog-container {
    display: flex;
    flex: 1;
}

.image-container {
    flex: 1;
    margin-right: 20px;
}

.sign-up-image {
    height: 100%;
    width: 100%;
}

.form-container {
    justify-content: center;
    flex: 1;
}

.form {
    width: 100%; 
}

.form-group {
    display: flex;
    justify-content: center;
}


.full-width {
    width: 100%;
}

.field-spacing {
    margin-bottom: 0.5rem;
}

.btn{
    width: 50%;
    height: 2rem;
    font-size: 0.75rem;
}

.mat-mdc-form-field-subscript-wrapper {
    display: block;
  }

::ng-deep .mdc-dialog__surface {
    overflow-y: hidden !important;
    background-color: var(--color-primary) !important;
    border-radius: 20px !important;
}

::ng-deep .field-spacing .mat-mdc-dialog-panel {
    overflow-y: hidden;
}

::ng-deep .field-spacing .mat-mdc-form-field-error {
    font-size: 0.666rem;
}

::ng-deep .field-spacing .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: var(--color-accent);
    text-align: center;
    color: var(--color-primary);
    font-size: 1rem;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: var(--color-error) !important;
}

::ng-deep .mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: var(--color-error) !important;
}

::ng-deep .mdc-line-ripple::after {
    border-bottom-color: var(--color-accent) !important;
}