.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 0 20px;
  border-bottom: 2px solid var(--color-accent);
  height: 8vh;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 200px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  font-size: larger;
  text-decoration: none;
  color: inherit;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem; 
}

.btn {
    text-align: center;
  margin-right: 2rem;
  height: 5vh;
  width: 7vw;
}

button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
}

button:hover:not(:disabled) {
  background-color: var(--color-accent-gradient);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.12);
}

.error-message {
  color: red;
  margin-top: 10px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(8px);
  background: var(--color-gray);
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

::ng-deep .encapsulate .mat-mdc-form-field-subscript-wrapper {
  display: none;
}


input::placeholder { 
    color: var(--color-primary);
 }

