<nav class="navbar">
    <div class="navbar-left">
        <img routerLink="/" src="../../../assets/logo__2_-removebg-preview.png" alt="Photo Logo" class="logo-img">
        @if(menuOpen || !loginSmallSize){
        <ul class="nav-links">
            @if (this.accountService.currentUser()){
            @if(!loginSmallSize){
            <li (click)="toggleSubMenu()"><a>Challenges</a>
                @if(submenuOpen){
                <ul class="submenu">
                    <li ><a routerLink="/current-challenge">Huidige challenge</a></li>
                    <li ><a routerLink="/past-challenges">Vorige challenges</a></li>
                </ul>
                }
                }
                @else if(loginSmallSize){
            <li (click)="toggleMenu()"><a routerLink="/current-challenge">Huidige challenge</a></li>
            <li (click)="toggleMenu()"><a routerLink="/past-challenges">Vorige challenges</a></li>
            }

            <li (click)="toggleMenu()" *appHasRole="['Moderator']"><a routerLink="/moderator">Moderator</a></li>
            <li (click)="toggleMenu()"><a routerLink="/ranking">Ranking</a></li>
            }
            @if(loginSmallSize && !this.accountService.currentUser()){
            <li (toggleMenu)="toggleMenu()" (click)="openLoginModal()"><a>Login</a></li>
            }@else if(loginSmallSize && this.accountService.currentUser()){
            <li (click)="logout()"><a>Uitloggen</a></li>
            }
        </ul>
        }

    </div>
    <div class="navbar-right">
        <div class="menu-icon" (click)="toggleMenu($event)">
            <div></div>
            <div></div>
            <div></div>
        </div>
        @if (!this.accountService.currentUser()) {
        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
            <mat-form-field appearance="fill" class="dense-4 encapsulate">
                <input matInput formControlName="username" placeholder="Gebruikersnaam" autocomplete="username">
            </mat-form-field>
            <mat-form-field appearance="fill" class="dense-4 encapsulate">
                <input matInput type="password" formControlName="password" placeholder="Wachtwoord"
                    autocomplete="new-password">
            </mat-form-field>
            <button class="btn btn-primary" [disabled]="!loginForm.valid" type="submit">Login</button>
        </form>
        } @else {
        <button routerLink="/" class="btn btn-primary" (click)="logout()">Uitloggen</button>
        }
    </div>
</nav>