<nav class="navbar">
    <div class="navbar-left">
        <!-- Logo -->
        <img routerLink="/" src="../../../assets/logo__2_-removebg-preview.png" alt="Photo Logo" class="logo-img">
        <!-- Navigation Links -->
        <ul class="nav-links">
            <li><a routerLink="/challenges">Challenges</a></li>
            <li *appHasRole="['Moderator']"><a routerLink="/moderator">Moderator</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        @if (!this.accountService.currentUser()) {
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
                <mat-form-field appearance="fill" class="dense-4 encapsulate">
                    <!-- <mat-label>Gebruikersnaam</mat-label> -->
                    <input matInput formControlName="username" placeholder="Gebruikersnaam" autocomplete="username">
                </mat-form-field>
                <mat-form-field appearance="fill" class="dense-4 encapsulate">
                    <input matInput type="password" formControlName="password" placeholder="Wachtwoord" autocomplete="new-password">
                </mat-form-field>
                <button class="btn btn-primary" [disabled]="!loginForm.valid" type="submit">Login</button>
            </form>
        } @else {
            <button routerLink="/" class="btn btn-primary" (click)="logout()">Uitloggen</button>
        }
        @if (errorMessage) {
            <div class="error-message">
                {{errorMessage}}
            </div>
        }
    </div>
</nav>