.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
}

h3 {
    padding: 0 1rem;
    text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content-container {
    width: 100%;
  display: flex;
  justify-content: center;
}

.form-content {
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.theme-field {
  width: 33%;
  min-width: 400px;
}

.date-upload-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  min-width: 400px;
  box-sizing: border-box;
}

.end-date-field {
  flex: 2;
  margin-right: 20px;
}

.week-number-field {
    flex: 1;
    margin-right: 20px;
}
.upload-button {
    flex: 1;
  font-size: clamp(16px, 0.7rem, 26px);
  margin-top: auto;
  margin-bottom: 1rem;
}

.add-thema-btn {
    font-size: clamp(16px, 0.7rem, 26px);
  width: 30%;
  min-width: 350px;
  margin-bottom: 20px;
}


.error-message {
  text-align: center;
  color: var(--color-error);
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  width: 100%;
  font-size: 1rem;
}

.error-container {
  width: 55%;
  padding: 0 1rem;
  box-sizing: border-box;
}

.image-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaded-image {
  max-width: 100%;
  max-height: 40vh;
  border-radius: 10px;
}

.spacer {
    flex: 1;
}

@media (max-width: 1000px) {
    .content-container {
        flex-direction: column;
        align-items: center;
      }

    .theme-field, .date-upload-container, .error-container {
      width: 80%;
      max-width: 500px;
      min-width: unset;
      margin-bottom: 20px;
    }
    .add-thema-btn{
        width: 75%;
        max-width: 475px;
        min-width: unset;
        margin-bottom: 20px;
    }
  
    .date-upload-container {
      flex-direction: column;
      align-items: center;
    }
  
    .end-date-field, .week-number-field, .upload-button {
      width: 100%;
      margin-right: 0;
    }
  
    .upload-button {
        width: 90%;
      margin-top: 10px;
    }
  
    .image-container {
      width: 80%;
      margin-bottom: 20px;
      order: -1;
    }
  }
