.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 30vh;
    width: 100%;
    background-color: var(--color-dark);
}

.form-container {
    background: var(--color-dark); 
    padding: 30px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    color: var(--color-white);
}
.form-container h2{
    text-align: center;
    color: var(--color-white);
}



label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--color-dark);
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}
button:disabled {
    background-color: var(--color-gray);
    cursor: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' aria-labelledby='notAllowedIconTitle' stroke='%23FF8080' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none' color='%23FF8080'%3E%3Ccircle cx='16' cy='16' r='14' fill='d8dad3'/%3E%3Ccircle cx='16' cy='16' r='12' stroke='%23FF8080' fill='none'/%3E%3Cpath stroke-linecap='square' d='m8 8 16 16' stroke='%23FF8080'/%3E%3C/svg%3E"), not-allowed;
    color: #a9a9a9;
}