.container {
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    height: 75vh;
    width: 100%;
    background: url('../../../assets/admin.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.upper-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-size: cover;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.upper-right {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    max-width: 80%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(232, 238, 242, 0.8);
    border-radius: 1rem;
    text-align: center;
}

.welcome-container h2, .welcome-container p {
    color: var(--color-secondary);
}

.welcome-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.welcome-container p {
    font-size: 1rem;
}

@media (max-width: 1000px) {
    .upper-left{
        display: none;
    }

    .container {
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr; 
        justify-content: center;
        align-items: center; 
        display: flex; 
    }

    .upper-right {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-content: center;
        align-items: center;
        width: 80%;
        min-width: 350px;
    }
}