<div class="container">
    <div class="upper-left">
        <div class="welcome-container">
            <h2>Welkom op de moderatorpagina</h2>
            <p>Enkel zij die zijn gezegend met de hoogste privileges kunnen hierbij. Oftewel iedereen die mee doet. Hier kan
                wekelijks het nieuwe thema gekozen worden. Ook kan je hier nieuwe moderatoren toevoegen.</p>
        </div>
    </div>
    <div class="upper-right">
        <app-add-moderator></app-add-moderator>
    </div>
</div>
<app-add-new-challenge></app-add-new-challenge>