<div class="container">
    <div class="welcome-container">
        <h2>Welkom op de moderatorpagina</h2>
        <p>Enkel zij die zijn gezegend met de hoogste privileges kunnen hierbij. Oftewel iedereen die mee doet. Hier kan
            wekelijks het nieuwe thema gekozen worden. Ook kan je hier nieuwe moderatoren toevoegen.</p>
    </div>
    <div class="form-container">
        <h3>Kies het thema voor de volgende challenge</h3>
        <form [formGroup]="themeForm" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field appearance="fill" class="theme-field">
                    <mat-label>Thema</mat-label>
                    <input matInput formControlName="themeName" placeholder="Thema">
                </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Einddatum</mat-label>
                <mat-hint>DD/MM/YYYY</mat-hint>
                <input matInput formControlName="endDate" [matDatepicker]="picker" placeholder="DD/MM/YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button class="btn btn-secondary" type="submit" [disabled]="!themeForm.valid || hasActiveTheme" >Aanmaken</button>
            <div class="error-container">
                @if (themeForm.get('endDate')?.hasError('endDateInvalid')) {
                    <p class="error-message">
                        De einddatum kan niet in het verleden liggen.
                      </p>
                } @if (hasActiveTheme) {
                    <p class="error-message">Op dit moment is er nog een lopend thema. Er kan geen nieuw thema aangemaakt worden.</p>
                }
              </div>
        </form>
    </div>
</div>