<nav class="navbar">
    <div class="navbar-left">
        <!-- Logo -->
        <img routerLink="/" src="../../assets/5qen87VsQAeSniDGkE-XnQ-removebg-preview.png" alt="Photo Logo" class="logo-img">
        <!-- Navigation Links -->
        <ul class="nav-links">
            <li><a routerLink="/lists">Challenges</a></li>
            <li *appHasRole="['Moderator']"><a routerLink="/moderator">Moderator</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        @if (!this.accountService.currentUser()){
            <form class="form from-input" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
                <input type="text" formControlName="username" placeholder="Gebruikersnaam" class="form-input" autocomplete="username">
                <input type="password" formControlName="password" placeholder="Wachtwoord" class="form-input" autocomplete="new-password">
                <button [disabled]="!loginForm.valid" type="submit" class="btn btn-secondary">Login</button>
            </form>
        }@else {
            <button routerLink="/"  class="btn btn-secondary" (click)="logout()">Uitloggen</button>
        }
        @if (errorMessage){
            <div class="error-message">
                {{errorMessage}}
            </div>
        }  
    </div>
</nav>