<nav class="navbar">
    <div class="navbar-left">
        <!-- Logo -->
        <img src="../../assets/5qen87VsQAeSniDGkE-XnQ-removebg-preview.png" alt="Photo Logo" class="logo-img">
        <!-- Navigation Links -->
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Test1</a></li>
            <li><a href="#">Test2</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <button class="btn-login">Login</button>
        <button class="btn-register">Sign Up</button>
    </div>
</nav>