
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-light-green);
    padding: 0; /* Ensure no padding around the navbar */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 75px;
    margin-left: 20px;
    margin-right: 10px; /* Space between logo and nav links */
}

.nav-links {
    display: flex ;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 50px;
}

.nav-links li {
    margin-right: 20px; /* Space between nav items */
}

.nav-links li a {
    font-size: larger;
    text-decoration: none;
    color: inherit;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-right {
    position: relative;
    display: flex;
    align-items: center;
    
}


.form{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn{
    margin-right: 2rem;
}

.btn:hover{
    background-color: black;
}

.form-input {
    text-align: center;
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: var(--color-white);
}

.error-message {
    color: red;
    margin-top: 10px;
    width: 100%;
    position: absolute;
    top: 100%; 
    left: 0;
    transform: translateY(8px); 
    background: var(--color-white);
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
  }
