<div class="container">
    <div class="header">
      <h2>Stemmen kan beginnen!</h2>
      <p>
        Onder iedere foto kun je aangeven hoeveel punten je deze wilt geven. Je mag elke score slechts één keer gebruiken. Gebruik de knop hieronder om je scores door te sturen. Zolang je binnen de tijd bent, kun je je scores later altijd nog aanpassen.
      </p>
      <button class="btn btn-secondary" (click)="submitScores()">Scores indienen</button>
    </div>
<div class="gallery">
    @for (photo of allPhotosFromTheme$ | async; track $index) {
    <div class="card">
      <img [src]="photo.url" [alt]="photo">
      <h3>{{ photo.title }}</h3>
      <div class="voting-buttons">
        @for (vote of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
        <button class="btn btn-primary">{{ vote }}</button>
        }
      </div>
    </div>
}
  </div>
  </div>
