@if (isModalOpen) {
<app-submit-modal (clickCloseModal)="closeModal()"></app-submit-modal>
}
@if(themeService.activeTheme()){
<div class="challenge-from-to-date">
    <p>{{themeService.activeTheme()?.startDate | date:'EEEE MMMM d, y' | capitalizeDate}} - {{
        themeService.activeTheme()?.submitEndDate| date:'EEEE MMMM d, y' | capitalizeDate }}</p>
</div>
}
<div class="page-element">
    @if(themeService.activeTheme()){
    <h2>Week {{themeService.activeTheme()?.weekNumber}} : {{themeService.activeTheme()?.name}}</h2>
    <div class="content-container">
        <div class="image-container">
            @if (photoService.submittedPhoto() && !photoService.submittedPhoto()?.message) {
            <img src={{this.photoService.submittedPhoto()?.url}} alt="Submitted photo" class="theme-image">
            }@else if (!isLoading){
            <img [src]="themeService.activeTheme()?.exampleUrl" alt="Image description" class="theme-image">
            }
        </div>
        <div class="page-right-container">
            <app-timer class="timer"></app-timer>
            @if (photoService.submittedPhoto() && !photoService.submittedPhoto()?.message){
            <button (click)="openModal()" class="btn btn-primary">Opnieuw indienen</button>
            <div class="submit-from-to-text-container">
                <hr>
                <h1>Opnieuw indienen kan tussen:<br></h1>
                <p>{{ themeService.activeTheme()?.startDate | date:'EEEE MMMM d, y' | capitalizeDate}} tot en met
                    {{themeService.activeTheme()?.submitEndDate | date:'EEEE MMMM d, y' | capitalizeDate}} 18:00 uur</p>
                <hr>
            </div>
            }
            @else if(!isLoading) {
            <button (click)="openModal()" class="btn btn-primary">Stuur jouw inzending!</button>
            <div class="submit-from-to-text-container">
                <hr>
                <h1>Inzenden kan tussen:<br></h1>
                <p>{{ themeService.activeTheme()?.startDate | date:'EEEE MMMM d, y' | capitalizeDate}} tot en met
                    {{themeService.activeTheme()?.submitEndDate | date:'EEEE MMMM d, y' | capitalizeDate}} 18:00 uur</p>
                <hr>
            </div>
            }

        </div>
    </div>
    }
</div>