@if (isModalOpen) {
<app-submit-modal (submitPhoto)="onPhotoSubmit($event)" (clickCloseModal)="closeModal()"></app-submit-modal>
}
@if(activeTheme$ | async; as activeTheme ){
<div class="challenge-from-to-date">
    <p>{{activeTheme.startDate | date:'EEEE MMMM d, y' | capitalizeDate}} - {{ activeTheme.submitEndDate| date:'EEEE MMMM d, y' | capitalizeDate }}</p>
</div>
}
<div class="page-element">
    @if(activeTheme$ | async; as activeTheme ){
    <h2>Week {{(activeTheme$ | async)?.weekNumber}}: {{(activeTheme$ | async)?.name}}</h2>
    <div class="content-container">
        <div class="image-container">
            @if (photoForActiveTheme$ | async; as photo) {
            <img src={{this.photoService.submittedPhoto()?.url}} alt="Submitted photo" class="theme-image">
            }@else if (!isLoading){
            <img [src]="activeTheme.exampleUrl" alt="Image description" class="theme-image">
            }
        </div>
        <div class="page-right-container">
            <app-timer class="timer"></app-timer>
            @if (photoForActiveTheme$ | async; as photo){
            <button (click)="openModal()" class="btn btn-primary">Opnieuw indienen</button>
            <div class="submit-from-to-text-container">
                <hr>
                <h1>Opnieuw indienen kan tussen:<br></h1>
                <p>{{ activeTheme.startDate | date:'EEEE MMMM d, y' | capitalizeDate}} tot en met
                    {{activeTheme.submitEndDate | date:'EEEE MMMM d, y' | capitalizeDate}} 18:00 uur</p>
                <hr>
            </div>
            }
            @else if(!isLoading) {
            <button (click)="openModal()" class="btn btn-primary">Stuur jouw inzending!</button>
            <div class="submit-from-to-text-container">
                <hr>
                <h1>Inzenden kan tussen:<br></h1>
                <p>{{ activeTheme.startDate | date:'EEEE MMMM d, y' | capitalizeDate}} tot en met
                    {{activeTheme.submitEndDate | date:'EEEE MMMM d, y' | capitalizeDate}} 18:00 uur</p>
                <hr>
            </div>
            }

        </div>
    </div>
    }
</div>